
{% extends 'cryptoapp/base.html' %}

{% block action %}
    {{ action }}
{% endblock action%}

{% block content %}
    <h3>{{ action }}</h3>
    {% if all_tokens %}
        <table>
            <thead>
                <tr>
                    <th>Nazwa</th>
                   
                </tr>
            </thead>
            <tbody>
                {% for token in all_tokens %}
                    <tr>
                        <td>{{ token.name }}</td>
                        <td><a href="{% url 'token_szczegoly' token.id %}">Pokaż szczegóły</a></td>

                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
            <a href="{% url 'token_nowy' %}">Dodaj nowy token</a>
        </p>
    {% else %}
        <p>Nie dodano żadnego tokenu</p>
    {% endif %}
{% endblock content %}
