{% extends 'cryptoapp/base.html' %}


{% block title %}
CryptoStart
{% endblock title %}

{% block content %}

<h1>CRYPTOSTART</h1>

<h2></h2>
<a href="{% url 'cryptocurrencies' %}" class="button-19">Ranking Kryptowalut</a>
<br>
<a href="{% url 'basic' %}" class="button-19"> Podstawowa wiedza</a>
<br>
<a href="{% url 'dict' %}" class="button-19"> Słownik pojęć</a>
<br>
<a href="{% url 'tutorial' %}" class="button-19"> Poradniki</a>
<br>
<a href="{% url 'news' %}" class="button-19"> News</a>
<br>
<a href="https://www.survio.com/survey/d/H2Q8X5N7V7V7W6E3R" class="button-19"> Ankieta</a>






 
<br>



{% endblock content %}