{% extends 'cryptoapp/base2.html' %}


{% block title %}
CryptoStart
{% endblock title %}

{% block content %}

<p>
    <a href="{% url 'main' %}"> Powrót do strony głównej</a>
</p>
<div class = "container" >
    <div class = "row">
        {% for x in api.Data %}
        
            <div class = "col-sm">
                <div class="card" style="width: 15rem;">
                    <img src="{{x.imageurl }}" class="card-img-top" alt="{{x.source }}">
                    <div class="card-body">
                        <h5 class="card-title">{{x.title}}</h5>
                        <p class="card-text">{{x.body|safe|slice:":10"}}</p>
                        <a href="{{x.url}}" class="btn btn-primary">Read more</a>
                    </div>
                </div>
                <br>
            </div>    
        {% endfor %}
    </div>
</div>

<p>
    <a href="{% url 'main' %}"> Powrót do strony głównej</a>
</p>







{% endblock content %}